
        .dp-highlight .ui-state-default {
          background: #9370DB;
          color: #FFF;
        }
        .ui-datepicker.ui-datepicker-multi  {
          width: 100% !important;
        }
        .ui-datepicker-multi .ui-datepicker-group {
        float:none;
        }
        #datepicker {
          height: 300px;
          overflow-x: scroll;
        }
.ui-widget { font-size: 100% }

table{

  margin-top: 3em;

}

#date_display{
  padding-left: 20px;
}

#save_div{
  padding-left: 10px;

  padding-top: 20px;
}

.clear_image{

  font-size:25px;
  color:green;
  color: #631762;
}

h2   {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #631762;
}


#save_btn{
  -moz-box-shadow: 0px 10px 14px -7px #aa8cc5;
  -webkit-box-shadow: 0px 10px 14px -7px #aa8cc5;
  box-shadow: 0px 10px 14px -7px #aa8cc5;
  background-color:#ffffff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #aa8cc5;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  padding:10px 14px;
  text-decoration:none;
}
#save_btn:hover{
  background-color:#aa8cc5;
}
#save_btn:active {
  position:relative;
  top:1px;
  color: #631762;
}
