/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/background.jpg') #fefefe;
	position:relative;
}

#maindash{
    margin-top: 30%;
	font-family: 'Open Sans', sans-serif;
	min-height:500px;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}


/*----------------------------
	The Navigation Menu
-----------------------------*/


#colorNav > ul{
	 text-align:center;
}

#colorNav > ul > li{ /* will style only the top level li */
	list-style: none;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	display: inline-block;
	line-height: 1;
	margin: 1px;
	border-radius: 3px;
	position:relative;
}

#colorNav > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:20px;
	padding: 30px;
}



#colorNav li.green{
	/* This is the color of the menu item */
	background-color:#00c08b;
	
	/* This is the color of the icon */
	color:#127a5d;
}

#colorNav li.red{		background-color:#ea5080;color:#aa2a52;}
#colorNav li.blue{		background-color:#53bfe2;color:#2884a2;}
#colorNav li.yellow{	background-color:#f8c54d;color:#ab8426;}
#colorNav li.purple{	background-color:#df6dc2;color:#9f3c85;}


li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 5em;
  text-align: left;
}

h3{
	text-align:center;
	padding:30px;
}

#main_div {
	margin-top: 50px;
}
