/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @import "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css";

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'Open Sans', sans-serif;;
    font-size:200%;
    height:100%;
    margin:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.gender{
    height: 40px;
    width: 40px;
}

.map-thumbnail{
    text-align:center;
    height: 20%;
    width: 50%;
}

.thumbnail{
    text-align:center;
    height: 20%;
    width: 90%;
}

.list_thumb{
  padding:20px;
  font-size:1.5em;
  font-family:'Open Sans', sans-serif;;
}

.title{
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(black,.15);
  font-family: 'Megrim', cursive;
  font-size: 100vm;
  color: #631762;
  font-weight:bold;
}




td.thumb-right{
  padding-left:10px;
  padding-bottom:20px;
  font-family: 'Open Sans', sans-serif;;
  font-size:1.5em;
  width:50%;
}

td.thumb-left{
  padding-right:10px;
  padding-bottom:20px;
  font-family: 'Open Sans', sans-serif;;
  font-size:1.5em;
  width:50%;
}


th{
  font-family: 'Open Sans', sans-serif;;
  font-size:1.5em;
  text-transform: capitalize;
  padding-left:0px;
  padding-right:0px;
  font-weight: bold;
  text-align:left;
}

td{
  font-family: 'Open Sans', sans-serif;;
  font-size:1.5em;
}

h2{
  font-family: 'Open Sans', sans-serif;;
  font-size:2em;
  text-transform: capitalize;
  padding-right:20px;
}

h1{
  font-family: 'Open Sans', sans-serif;;
  font-size:2em;
  text-transform: capitalize;
  padding-right:10px;

}

#nav-bar_table{
   margin-top:-1em;
   border: 0px;
   width:"100%";
   height:"100%";
}

#footer{
  padding:0px;
  background-color:#fff ;
  height:10%;
  margin-bottom: 0px;
  margin-top: 0px;
}




.controls{
width:50%;
height:30px;
border-radius:6px;
border:none;
color:#0F0D0D;;
font-weight:500;
background-color:#E2EFF7;
-webkit-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
-moz-box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
box-shadow:
0 -2px 2px 0 rgba(199, 199, 199, 0.55),
0 1px 1px 0 #fff,
0 2px 2px 1px #fafafa,
0 2px 4px 0 #b2b2b2 inset,
0 -1px 1px 0 #f2f2f2 inset,
0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}
.controls:focus{
outline:0;
}

#btn_filter,#btn_submit{
  right:0px;
  padding:10px;
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #946ecc;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


#btn_filter, #btn_submit {
  -moz-box-shadow: 0px 10px 14px -7px #aa8cc5;
  -webkit-box-shadow: 0px 10px 14px -7px #aa8cc5;
  box-shadow: 0px 10px 14px -7px #aa8cc5;
  background-color:#ffffff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #aa8cc5;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  padding:10px 14px;
  text-decoration:none;
}
#btn_filter:hover,#btn_submit:hover {
  background-color:#aa8cc5;
}
#btn_filter:active,#btn_submit:active {
  position:relative;
  top:1px;
}



iframe{
  border:none;
}

input{
  padding:10px;
}

.header{
  background-color: white;
}

#mapview_btn {
    position: fixed;
    bottom: 40px;
    right: 20px; 
    height:50px;
    width:50px;
}

#div_location{
   margin-top:1em;
  
}

#div_location td{
   padding-left:20px;
   padding-right:20px;
  
}

#more_btn {
  -moz-box-shadow: 0px 10px 14px -7px #aa8cc5;
  -webkit-box-shadow: 0px 10px 14px -7px #aa8cc5;
  box-shadow: 0px 10px 14px -7px #aa8cc5;
  background-color:#ffffff;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  border:1px solid #aa8cc5;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Verdana;
  font-size:15px;
  text-decoration:none;
}

#more_btn:active {
  position:relative;
  top:1px;
}

