
* {
  margin: 0;
  padding: 0;
}

body {

    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin: 20px auto;
  color: #fff;
}


.accordion-menu {
  width: 100%;
  /*max-width: 350px;*/
  margin: 60px auto 20px;
  background: #fff;
  border-radius: 4px;

}
.accordion-menu li.open .dropdownlink {
  color: #CDDC39;
  .fa-chevron-down {
    transform: rotate(180deg);
  }
}
.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}
.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
  i {
    position: absolute;
    top: 17px;
    left: 16px;
  }
  .fa-chevron-down {
    right: 12px;
    left: auto;
  }
}

.submenuItems {
  /*display: none;*/
  background: #f0ebeb;
  li {
    font-family: Verdana, Geneva, sans-serif;
    border-bottom: 1px solid #B6B6B6;
  }
}


.submenuItems a {
  display: block;
  color: #631762;
  font-family: Verdana, Geneva, sans-serif;
  padding: 12px 12px 12px 45px;
  transition: all 0.4s ease-out;
  &:hover {
    background-color: #980d96;
    color: #333;
  }
}