.menu h3 {
	color: white;
	font-size: 2em;
	padding: 22px 0px 22px 0px;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background: #42113C;
	text-align: center;
}

.menu a {
	display: block;
	color: #333;
	font-size: 2em;
	font-weight: 300;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

.menu a:hover {
	background: #CBC0AD;
	color: #666;
	text-decoration: none;
}

.menu a:active {
	background: #B7AD9C;
	color: #000;
}

.menu a:visited {
	color: #333;
	text-decoration: none;
}
/* Orientation-dependent styles for the content of the menu */

.menu {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.menu a {
	border-bottom: 1px solid #C8C8C8;
	padding: 1em;
}

.menu-left {
	left: -240px;
}

.menu-left.menu-open {
	left: 0px;
}

/* Push classes applied to the body */

.menu-push-toright {
	left: 240px;
}

@media screen and (max-height: 26.375em){

	.menu-push-toright {
		left: 190px;
	}
}

i{
	padding-right:20px;
}

a {text-decoration: none}