body{
	background-color:red;
}

td{

	padding-right: 10px;
	padding-bottom: 10px;
	
	font-family:'Open Sans', sans-serif;
   font-size: 1em;
}

#div_reviews{
	padding-top:20px;
}

h2{
  font-family:'Open Sans', sans-serif;
  font-size: 1.5em;
  text-transform: capitalize;
  padding-left:20px;
  padding-right:10px;
  color:black;
}

p{

  font-family:'Open Sans', sans-serif;
  font-size: 1em;

}